@import url('https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600');

:root {
  --background-color: rgba(250, 249, 254);
  --body-text: #737f8a;
  /* --primary-color: #57cbcc; */
  --primary-color: #d4ba4d;
  --white: #fff;
  --black: #000;
  --gray: #ddd;
  --section-background: #292f36;
  --success-text: #6cb670;
  --post-meta: #4e595f;
  --arrows-gray: #dedede;
  --navigation-background: rgba(250, 249, 254);
  --background-dark: #242930;
  /* --background-dark: #9b96a3; */
  --social-icon-text: #29292e;
}

html {
  background-color: var(--background-color);
  color: var(--body-text);
}

body {
  background-color: var(--background-color);
  font-family: 'Anaheim', sans-serif;
  color: var(--body-text);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #afbac4;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
}

/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
  /* Code for Firefox */
  color: var(--white);
  background: var(--primary-color);
}

::selection {
  color: var(--white);
  background: var(--primary-color);
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  color: var(--white);
  transition: all 0.3s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: var(--success-text);
}

.kill-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.btn {
  background-color: transparent;
  color: var(--white);
  padding: 10px 30px;
  border-radius: 0;
  transition: all 0.3s ease-in 0s;
}

.btn:focus {
  color: var(--gray);
}

.btn-transparent {
  border: 1px solid var(--post-meta);
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: var(--primary-color);
  border: 1px solid transparent;
  color: var(--white);
}

.btn-download {
  background-color: var(--post-meta);
}

.btn-download:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.form-control {
  background-color: #2f383d;
  border-radius: 0;
  padding: 5px 10px;
  border: 0 none;
  color: var(--gray);
}

.form-control:focus {
  box-shadow: 0 0 0;
}

.form-control::-webkit-input-placeholder {
  /*  Chrome, Safari, Opera  */
  color: var(--gray);
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: var(--gray);
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--gray);
}

.form-control:-ms-input-placeholder {
  /*  Internet Explorer  */
  color: var(--gray);
}

.border {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
}

.border:before {
  background-color: var(--white);
  content: '';
  height: 6px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -4px;
  width: 50px;
  background-color: var(--primary-color);
}

.title-color {
  color: var(--section-background);
}

.color {
  color: var(--primary-color);
}

.sub-title {
  padding: 0 0 50px;
}

.sub-title > h3 {
  border-left: 3px solid var(--gray);
  border-right: 3px solid var(--gray);
  display: inline-block;
  padding: 5px 25px;
  text-transform: uppercase;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.bg-one {
  background-color: var(--background-color);
}

.bg-dark {
  background: var(--background-dark);
}

.parallax-section {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  transition: all 0.2s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: var(--primary-color);
}

.btn-main {
  background: var(--primary-color);
  color: var(--black);
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 35px;
  text-transform: uppercase;
}

.btn-main:hover {
  background: var(--white);
  color: var(--primary-color);
}

.mt-20 {
  margin-top: 20px;
}

.section {
  padding: 100px 0;
}

@media (max-width: 480px) {
  .section {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 50px 0;
}

.btn:focus {
  color: var(--gray);
}

#home {
  position: relative;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.parallax-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preloader {
  background: var(--white);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--primary-color);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.title {
  padding-bottom: 60px;
}

.title h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 38px;
  color: var(--background-dark);
}

.title p {
  color: #666;
}

.title.title-white h2 {
  color: var(--white);
}

.bg-gray {
  background: #f9f9f9;
}

.section-bg {
  background: var(--section-background);
}

.overly {
  position: relative;
}

.overly:before {
  content: '';
  background: rgba(0, 0, 0, 0.096);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-bradcrumb {
  background: transparent;
}

.header-bradcrumb a,
.header-bradcrumb .active {
  color: #cfcfcf;
  font-weight: 200;
  font-family: 'Quattrocento Sans', sans-serif;
}

.header-bradcrumb a:hover {
  color: var(--primary-color);
}

.slick-slide {
  outline: none;
}

/* CSS mfp-with-zoom class */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pagination li {
  margin: 5px;
  display: inline-block;
}

.pagination li a {
  background: var(--background-dark);
  border: 0;
  color: var(--white);
}

.pagination li a:hover,
.pagination li a.active {
  background: var(--primary-color);
  color: var(--white);
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.logo {
  margin-top: 10px;
  display: inline-block;
}

.single-page-header {
  background-image: url('../images/about/about-header.jpg');
  background-size: cover;
  padding: 140px 0 70px;
  text-align: center;
  color: var(--white);
  position: relative;
}

.single-page-header:before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*=================================================================
  Navigation
==================================================================*/
.navigation {
  background-color: var(--navigation-background);
  width: 100%;
  z-index: 99;
  margin-bottom: 0;
  padding: 10px;
}

.navigation .logo {
  padding: 0;
  height: auto;
  margin-top: 0;
}

.navigation .logo img {
  height: auto;
  width: 140px;
}

.navigation .navigation-menu li.active a {
  color: var(--primary-color);
}

.navigation .navigation-menu li a {
  font-size: 16px;
  color: var(--body-text);
}

.navigation .navigation-menu li a:hover,
.navigation .navigation-menu li a:focus {
  background: transparent;
  color: var(--primary-color);
}

.navbar-toggle {
  border: 1px solid var(--white);
  border-radius: 0;
}

.navbar-toggle span {
  background: var(--white);
}

.bg-1 {
  background-image: url('../images/backgrounds/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.bg-2 {
  background-image: url('../images/backgrounds/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.birdcage-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
}

.birdcage-logo img {
  width: 133px;
  height: 200px;
}

.hero-area {
  background-size: cover;
  height: calc(100vh - 72px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-area .block {
  text-align: center;
  z-index: 99;
}

.hero-area .block .video-button a {
  background: var(--white);
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  line-height: 60px;
  font-size: 20px;
  margin-left: 3px;
  color: var(--primary-color);
}

.hero-area .block h1 {
  font-size: 90px;
  color: var(--white);
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 100px;
}

@media (max-width: 480px) {
  .hero-area .block h1 {
    font-size: 60px;
    padding: 0;
  }
}

.hero-area .block p {
  color: var(--white);
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
}

.hero-area .block .btn-transparent {
  margin-top: 40px;
  border-color: var(--white);
  padding: 10px 40px;
  font-size: 18px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

/*=================================================================
  Back To Top Button
==================================================================*/
.top-link {
  transition: all 0.5s ease-in-out !important;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  z-index: 999;
}
.top-link.show {
  visibility: visible;
  opacity: 1;
  display: flex !important;
}
.top-link.hide {
  visibility: hidden;
  opacity: 0;
}
.top-link svg {
  fill: var(--white);
  width: 24px;
  height: 12px;
}
.top-link:hover {
  background-color: var(--white);
  border: 1px solid var(--primary-color);
}
.top-link:hover svg {
  fill: var(--primary-color);
}
.screen-reader-text {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  clip-path: none;
  background-color: var(--gray);
  padding: 15px 23px 14px;
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: #444;
  font-size: 1em;
  clip: auto !important;
}

/*=================================================================
  About us section
==================================================================*/
.about .block {
  background: var(--background-dark);
  padding: 30px;
  border-bottom: 2px solid transparent;
  transition: 0.5s all;
  margin-bottom: 20px;
}

.about .block:hover {
  border-bottom: 2px solid var(--primary-color);
}

.about .block:hover .icon-box {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.about .block .icon-box {
  position: relative;
  width: 160px;
  height: 92.38px;
  background-color: transparent;
  margin: 46.19px auto 60px;
  padding: 20px 0;
  border-left: 2px solid rgba(236, 239, 241, 0.07);
  border-right: 2px solid rgba(236, 239, 241, 0.07);
  font-size: 50px;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.about .block .icon-box:after,
.about .block .icon-box:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 113.14px;
  height: 113.14px;
  background-color: inherit;
  left: 20.4315px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
}

.about .block .icon-box:before {
  top: -56.5685px;
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  border-right: 2px solid rgba(236, 239, 241, 0.07);
}

.about .block .icon-box:after {
  bottom: -56.5685px;
  border-bottom: 2px solid rgba(236, 239, 241, 0.07);
  border-left: 2px solid rgba(236, 239, 241, 0.07);
}

.about .block .icon-box h3 {
  color: #afbac4;
}

.icon-box i:before {
  color: var(--primary-color);
}

/*=================================================================
  About us 2 section
==================================================================*/
.about-2 .content-block {
  padding: 40px;
}

.about-2 .content-block .media {
  margin-top: 25px;
}

.about-2 .content-block .media .pull-left {
  padding-right: 15px;
}

.about-2 .content-block .media i {
  font-size: 30px;
  color: var(--primary-color);
}

.about-2 .content-block .media h4 {
  font-size: 16px;
  font-weight: 600;
}

/*=================================================================
 Call To Action 1
==================================================================*/
.call-to-action {
  background-attachment: fixed;
}

.call-to-action h2 {
  font-weight: 700;
  color: var(--gray);
}

.call-to-action p {
  font-size: 16px;
  color: var(--gray);
}

.call-to-action .btn-main {
  margin-top: 20px;
}

/*=================================================================
 Call To Action 2
==================================================================*/
.call-to-action-2 {
  padding: 100px 0;
  background-image: url('../images/call-to-action/call-to-action-bg.jpg');
  background-size: cover;
  color: var(--white);
}

.call-to-action-2 h2 {
  line-height: 1.5;
}

.call-to-action-2 p {
  color: var(--white);
}

.call-to-action-2 .btn-main {
  margin-top: 20px;
}

.contact-us {
  padding-top: 50px;
}

.contact-form {
  margin-bottom: 60px;
}

.contact-form .form-control {
  background-color: transparent;
  border: 1px solid rgba(236, 239, 241, 0.07);
  height: 45px;
}

.contact-form textarea.form-control {
  padding: 10px;
  height: 120px;
  max-width: 100%;
}

.contact-form input:hover,
.contact-form textarea:hover,
#contact-submit:hover {
  border-color: var(--primary-color);
}

#contact-submit {
  border: 1px solid rgba(236, 239, 241, 0.07);
  background: var(--primary-color);
  padding: 12px 0;
  width: 100%;
  margin: 0;
}

.google-map #map-canvas {
  height: 400px;
}

.contact-info p {
  margin-bottom: 25px;
}

.con-info {
  margin-bottom: 20px;
}

.con-info i,
.con-info span {
  float: left;
}

.con-info span {
  margin: -5px 0 0 15px;
}

.error {
  display: none;
  padding: 10px;
  color: #d8000c;
  border-radius: 4px;
  font-size: 13px;
  background-color: #ffbaba;
}

.success {
  background-color: var(--success-text);
  border-radius: 4px;
  color: var(--white);
  display: none;
  font-size: 13px;
  padding: 10px;
}

#map {
  height: 370px;
  width: 100%;
}

/*=================================================================
  Item counter section
==================================================================*/
.counters-item {
  padding: 25px 0;
  margin-bottom: 10px;
  background: var(--section-background);
}

.counters-item i {
  margin-bottom: 10px;
  font-size: 40px;
  display: inline-block;
}

.counters-item span {
  display: block;
  font-weight: bold;
  font-size: 35px;
  line-height: 50px;
  color: var(--primary-color);
}

.counters-item h3 {
  font-size: 20px;
  margin: 0;
}

/*=================================================================
  Pricing section
==================================================================*/
.price-item {
  border: 1px solid rgba(236, 239, 241, 0.07);
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.price-title {
  background-color: var(--section-background);
  padding: 30px 0 20px;
}

.price-title h3 {
  color: var(--primary-color);
  margin: 0 0 10px;
  text-transform: uppercase;
}

.price-title p {
  font-size: 18px;
  font-weight: 400;
}

.price-title .value {
  color: var(--primary-color);
  font-size: 30px;
}

.pricing li {
  padding: 10px 0;
}

.pricing li:last-child {
  border-bottom: 1px solid rgba(236, 239, 241, 0.07);
  margin-bottom: 20px;
}

.pricing li:nth-child(2n) {
  background-color: var(--section-background);
}

#pricing .btn {
  font-size: 16px;
  color: var(--primary-color);
}

#pricing .btn:hover {
  color: var(--white);
}

.pricing li .btn {
  text-transform: uppercase;
  margin: 20px 0;
}

/*=================================================================
  Portfolio section
==================================================================*/
.portfolio-filter {
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-filter button {
  border: none;
  outline: none;
  border: 1px solid rgba(236, 239, 241, 0.07);
  background: transparent;
  display: inline-block;
  font-size: 16px;
  padding: 6px 20px;
  font-weight: 700;
  color: var(--body-text);
  transition: 0.3s all;
}

.portfolio-filter button.active {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.portfolio-items-wrapper .mix {
  padding: 5px;
}

.portfolio-block {
  position: relative;
  margin-bottom: 20px;
}

.portfolio-block:before {
  transition: all 0.3s ease-in-out;
  background: var(--white);
  opacity: 0;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  position: absolute;
  content: '';
}

.portfolio-block img {
  width: 100%;
  height: auto;
}

.portfolio-block:hover:before {
  opacity: 1;
}

.portfolio-block:hover .caption h4 {
  top: 45%;
}

.portfolio-block:hover .caption {
  opacity: 1;
  top: 55%;
}

.portfolio-block .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.portfolio-block .caption h4 {
  font-size: 16px;
  font-weight: 600;
}

.portfolio-block .caption h4 a {
  color: #555;
}

.portfolio-block .caption .search-icon {
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  color: var(--white);
  display: inline-block;
  font-size: 20px;
  border-radius: 30px;
}

.portfolio-block .caption .search-icon i {
  line-height: 50px;
}

/*=================================================================
  Services section
==================================================================*/
.service-block {
  padding: 60px 20px;
  border-left: 1px solid rgba(236, 239, 241, 0.07);
  border-top: 1px solid rgba(236, 239, 241, 0.07);
  margin-bottom: 40px;
  box-shadow: rgba(212, 186, 77, 0.35) 0px 5px 15px;
}

.service-block .service-icon {
  margin-bottom: 10px;
  font-size: 50px;
}

.service-block h3 {
  color: var(--section-background);
}

/*=================================================================
  Services section 2
==================================================================*/
.service-2 .service-item {
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding: 50px 20px;
  transition: all 0.3s ease 0s;
}

.service-2 .service-item:hover {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}

.service-2 .service-item:hover i {
  background: var(--white);
  color: var(--primary-color);
}

.service-2 .service-item i {
  font-size: 30px;
  display: inline-block;
  background: var(--primary-color) none repeat scroll 0 0;
  border-radius: 30px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  color: var(--white);
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  width: 55px;
  transition: all 0.3s ease 0s;
}

/*=================================================================
  Our skills
==================================================================*/
.skill-bar p {
  font-size: 18px;
  margin-bottom: 0;
}

.skill-bar p span {
  font-style: italic;
  font-size: 30px;
  color: rgba(187, 187, 187, 0.34);
  display: inline-block;
  vertical-align: middle;
}

.skill-bar .progress {
  height: 6px;
  border-radius: 0;
}

.skill-bar .progress .progress-bar {
  background: var(--primary-color);
}

/*=================================================================
  Our Team
==================================================================*/
.team-member {
  background-color: var(--section-background);
  margin-bottom: 10px;
}

.team-member:hover .mask {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg) scale(1, 1);
  transform: rotateY(0deg) scale(1, 1);
}

.member-photo {
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .member-photo {
    text-align: center;
  }
}

.member-photo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.member-photo img {
  transition: all 0.4s ease 0s;
}

@media (max-width: 768px) {
  .member-photo img {
    display: inline-block;
  }
}

.member-photo .mask {
  background-color: rgba(212, 186, 77, 0.5);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.5s ease-out 0s;
  -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
  transform: rotateY(180deg) scale(0.5, 0.5);
}

.member-photo .mask ul {
  text-align: center;
  position: relative;
  top: 125px;
}

.member-photo .mask ul li a {
  border: 1px solid var(--white);
  color: var(--white);
  display: block;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}

.member-photo .mask ul li a:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border: 1px solid transparent;
}

.member-meta {
  padding: 15px;
}

.member-meta h4 {
  margin: 0 0 5px;
}

.member-meta span {
  font-size: 12px;
}

/*=================================================================
  Testimonial section
==================================================================*/
.testimonial:before {
  background: rgba(42, 48, 55, 0.7);
}

.client-info {
  margin: 0 auto;
  width: 45%;
}

@media (max-width: 768px) {
  .client-info {
    width: 90%;
  }
}

.client-comment p {
  color: #afbac4;
  font-size: 18px;
}

.client-thumb img {
  border-radius: 50%;
  margin: 0 auto;
  max-width: 115px;
  width: 100%;
}

.client-meta {
  margin: 0 0 10px;
}

.client-meta h3 {
  margin: 15px 0 5px 0;
}

.client-meta span {
  font-size: 12px;
}

.owl-pagination,
.owl-buttons {
  text-align: center;
}

.owl-controls .owl-page {
  display: inline-block;
}

.owl-controls .owl-page span {
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50px;
  display: block;
  height: 13px;
  margin: 0 4px;
  width: 13px;
  opacity: 1;
  filter: alpha(opacity=100);
}

.owl-controls .owl-page.active span,
.owl-controls .owl-page:hover span {
  background-color: var(--primary-color);
  border: 2px solid transparent;
}

.our-clients {
  margin: 30px 0 0;
}

#our-clietns .item img {
  max-width: 150px;
  width: 100%;
}

#our-clietns .owl-next,
#our-clietns .owl-prev {
  border: 1px solid var(--gray);
  border-radius: 50px;
  display: inline-block;
  margin: 45px 0 0;
  padding: 3px 15px;
  position: relative;
  text-align: center;
}

#our-clietns .owl-next i,
#our-clietns .owl-prev i {
  line-height: 34px;
}

#our-clietns .owl-prev {
  margin-right: 15px;
}

#our-clients .item {
  margin: 10px;
}

/*=================================================================
  Latest Posts
==================================================================*/
.note {
  background-color: var(--section-background);
  border: 1px solid var(--post-meta);
}

.post-block {
  background-color: var(--section-background);
  margin-bottom: 10px;
}

.post-block .content {
  padding: 20px;
}

.post-block .content h3 {
  margin: 0 0 6px;
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
}

.note .media-wrapper {
  border-bottom: 1px solid var(--post-meta);
}

.note .excerpt h3 {
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
}

.all-post {
  margin-top: 50px;
}

/* =================================================================
  Single Blog Page
==================================================================*/
/* #blog-banner {
  padding-bottom: 100px;
  padding-top: 150px;
}

#blog-page {
  margin: 0 0 40px;
}

.post-meta {
  font-size: 13px;
  margin: 20px 0 0;
  padding: 0 20px 10px;
}

.post-meta a {
  color: var(--primary-color);
}

.post-meta > span {
  color: #666;
  border-right: 1px solid var(--arrows-gray);
  display: inline-block;
  font-size: 13px;
  margin: 10px 10px 0 0;
  padding-right: 10px;
}

.post-meta > span:last-child {
  border-right: 0;
}

.post-meta > span i {
  margin-right: 5px;
}

.post-excerpt {
  padding: 0 20px;
  margin-bottom: 60px;
}

.post-excerpt h3 a {
  color: var(--black);
}

.post-excerpt blockquote {
  line-height: 22px;
  margin: 20px 0;
  font-size: 16px;
}

.single-blog {
  background-color: var(--white);
  margin-bottom: 50px;
  padding: 20px;
}

.blog-subtitle {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--arrows-gray);
  margin-bottom: 25px;
  text-transform: uppercase;
}

.next-prev {
  border-bottom: 1px solid var(--arrows-gray);
  border-top: 1px solid var(--arrows-gray);
  margin: 20px 0;
  padding: 25px 0;
}

.next-prev a {
  color: var(--black);
}

.next-prev a:hover {
  color: var(--primary-color);
}

.next-prev .prev-post i {
  margin-right: 10px;
}

.next-prev .next-post i {
  margin-left: 10px;
}

.social-profile ul li {
  margin: 0 10px 0 0;
  display: inline-block;
}

.social-profile ul li a {
  color: var(--post-meta);
  display: block;
  font-size: 16px;
}

.social-profile ul li a i:hover {
  color: var(--primary-color);
}

.comments-section {
  margin-top: 35px;
}

.author-about {
  margin-top: 40px;
}

.post-author {
  margin-right: 20px;
}

.post-author > img {
  border: 1px solid var(--arrows-gray);
  max-width: 120px;
  padding: 5px;
  width: 100%;
}

.comment-list ul {
  margin-top: 20px;
}

.comment-list ul li {
  margin-bottom: 20px;
}

.comment-wrap {
  border: 1px solid var(--arrows-gray);
  border-radius: 1px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
}

.comment-wrap .author-avatar {
  margin-right: 10px;
}

.comment-wrap .media .media-heading {
  font-size: 14px;
  margin-bottom: 8px;
}

.comment-wrap .media .media-heading a {
  color: var(--primary-color);
  font-size: 13px;
}

.comment-wrap .media .comment-meta {
  font-size: 12px;
  color: #888;
}

.comment-wrap .media p {
  margin-top: 15px;
}

.comment-reply-form {
  margin-top: 80px;
}

.comment-reply-form input,
.comment-reply-form textarea {
  height: 35px;
  border-radius: 0;
  box-shadow: none;
}

.comment-reply-form input:focus,
.comment-reply-form textarea:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}

.comment-reply-form textarea,
.comment-reply-form .btn-main {
  height: auto;
} */

/*=================================================================
  Footer section
==================================================================*/
.social-icon {
  padding: 60px 0 35px;
}

.social-icon ul {
  text-align: center;
}

.social-icon ul li {
  margin-bottom: 4px;
}

.social-icon ul li:hover a {
  background-color: var(--primary-color);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.social-icon ul li:hover a i {
  color: var(--white);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.social-icon ul li a {
  background-color: var(--social-icon-text);
  border: 1px solid transparent;
  display: block;
  height: 70px;
  width: 70px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: all 400ms ease-out 0s;
}

@media (max-width: 768px) {
  .social-icon ul li a {
    width: 55px;
    height: 55px;
  }
}

.social-icon ul li a i {
  color: var(--white);
  display: inline-block;
  font-size: 32px;
  line-height: 70px;
  margin: 0;
  /* opacity: 0.3; */
  /* filter: alpha(opacity=30); */
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: all 400ms ease-out 0s;
}

@media (max-width: 768px) {
  .social-icon ul li a i {
    line-height: 55px;
    font-size: 25px;
  }
}

.copyright {
  padding: 20px 0;
  color: var(--white);
}

.copyright img {
  margin-bottom: 15px;
}

.copyright p,
.copyright p a {
  margin-top: 10px;
  color: var(--background-dark);
  font-size: 16px;
}

.copyright p a:hover {
  margin-top: 10px;
  color: var(--primary-color);
}

#scrollUp {
  border: 1px solid var(--post-meta);
  bottom: 15px;
  color: var(--white);
  display: none;
  padding: 8px 12px;
  position: fixed;
  right: 20px;
  z-index: 600;
}

#scrollUp:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/*=================================================================
	Twitter Feed
==================================================================*/
#twitter-feed {
  background-image: url('../images/parallax/twitter.jpg');
  padding-bottom: 100px;
  padding-top: 80px;
}

.twitter-bird span {
  border: 2px solid var(--success-text);
  border-radius: 50px;
  color: var(--success-text);
  display: inline-block;
  margin-bottom: 50px;
  height: 90px;
  width: 90px;
}

.twitter-bird span i {
  line-height: 90px;
}

.tweet {
  margin-bottom: 10px;
}

.tweet a {
  color: var(--success-text);
}
